.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
    text-decoration: none;

  }
  
  .blog-header-logo:hover {
    text-decoration: none;
    text-decoration: none;

  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
body {
  overflow-x: hidden;
}
.btn-light {
  border: 1px solid black;
}
nav {
  background-color: white;
  font-size: 20px;
}
nav li {
  margin-right: 15px;
}

@media (max-width:900px) {
  .col-auto img {
    width: 90vw;
    display: flex;
    align-self: center;
    margin: 20px;
  } 
}